 /***************************************************
 CONFIGURAÇÃO DO PAINEL (BARRA DE TRABALHO SUPERIOR)
 ***************************************************/

/* Painel superior */
#panel {
  color: #ffffff; /* Cor dos textos */
  background-color: #fe4eda; /* Cor do painel */
}

/* Configurações dos botões do painel */
/* #panel .panel-button {
  background-color: #fe4eda; } /* Cor dos botões */
#panel.dynamic-top-bar-white-btn {
  border-image: none;
}
#panel.unlock-screen, #panel.login-screen, #panel.lock-screen {
  background-color: transparent;
  border-image: none;
}
#panel:overview {
  background-color: #F5C211;
  border-image: url("common-assets/panel/panel-overview.svg") 1 1 1 1;
}
#panel #panelLeft, #panel #panelCenter {
  spacing: 8px;
}
#panel .panel-corner {
  -panel-corner-radius: 0px;
  -panel-corner-background-color: rgba(0, 0, 0, 0);
  -panel-corner-border-width: 0px;
  -panel-corner-border-color: black;
}
#panel .panel-corner:active, #panel .panel-corner:overview, #panel .panel-corner:focus {
  -panel-corner-border-color: black;
}
#panel .panel-corner.lock-screen, #panel .panel-corner.login-screen, #panel .panel-cornerunlock-screen {
  -panel-corner-radius: 0;
  -panel-corner-background-color: transparent;
  -panel-corner-border-color: transparent;
}
#panel .panel-button {
  -natural-hpadding: 10px;
  -minimum-hpadding: 6px;
  font-weight: bold;
  color: white;
  transition-duration: 100ms;
  border: 3px solid transparent;
  border-radius: 6px;
}
#panel .panel-button .app-menu-icon {
  width: 0;
  height: 0;
  margin-left: 0px;
  margin-right: 0px;
}
#panel .panel-button.clock-display:hover {
  box-shadow: none;
  background-color: transparent;
}
#panel .panel-button.clock-display:hover .clock {
  background-color: rgba(255, 255, 255, 0.17);
  box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.17);
  border-radius: 6px;
}
#panel .panel-button.clock-display .clock {
  border: 3px solid transparent;
}
#panel .panel-button:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.17);
  box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.17);
}
#panel .panel-button:active, #panel .panel-button:overview, #panel .panel-button:focus, #panel .panel-button:checked {
  color: #ffffff;
  background-color: #fe4eda; /* Muda a cor quando clica (ou passa o mouse por cima) nos icones da barra do topo */
  box-shadow: inset 0 0 0 100px #F5C211;
}
#panel .panel-button:active > .system-status-icon, #panel .panel-button:overview > .system-status-icon, #panel .panel-button:focus > .system-status-icon, #panel .panel-button:checked > .system-status-icon {
  icon-shadow: none;
}
#panel .panel-button:active.clock-display, #panel .panel-button:overview.clock-display, #panel .panel-button:focus.clock-display, #panel .panel-button:checked.clock-display {
  box-shadow: none;
  background-color: transparent;
}
#panel .panel-button:active.clock-display .clock, #panel .panel-button:overview.clock-display .clock, #panel .panel-button:focus.clock-display .clock, #panel .panel-button:checked.clock-display .clock {
  color: #ffffff;
  box-shadow: inset 0 0 0 100px #F5C211; /* Cor de fundo quando clica no botão do calendário*/
  border-radius: 6px;
}
#panel .panel-button .system-status-icon {
  icon-size: 16px;
  padding: 0 4px;
}
.unlock-screen #panel .panel-button, .login-screen #panel .panel-button, .lock-screen #panel .panel-button {
  color: #1e2847;
}
.unlock-screen #panel .panel-button:focus, .unlock-screen #panel .panel-button:hover, .unlock-screen #panel .panel-button:active, .login-screen #panel .panel-button:focus, .login-screen #panel .panel-button:hover, .login-screen #panel .panel-button:active, .lock-screen #panel .panel-button:focus, .lock-screen #panel .panel-button:hover, .lock-screen #panel .panel-button:active {
  color: #1e2847;
}
#panel #panelActivities.panel-button {
  -natural-hpadding: 12px;
}
#panel .panel-status-indicators-box,
#panel .panel-status-menu-box {
  spacing: 2px;
}
#panel .power-status.panel-status-indicators-box {
  spacing: 0;
}
#panel .screencast-indicator {
  color: #fe4eda;
}
#panel .clock-display > * > *:last-child {
  color: #ffffff;
}
#panel .popup-menu-arrow {
  width: 0;
}

#panel #panelActivities.panel-button > * {
  background-image: url("common-assets/panel/activities.svg");
  background-position: center top;
  width: 24px;
  height: 24px;
  background-color: transparent !important;
  background-gradient-direction: none !important;
  border: 3px solid transparent !important;
  text-shadow: 0 0 transparent !important;
  transition-duration: 0ms !important;
  box-shadow: none !important;
  color: transparent;
}
#panel #panelActivities.panel-button:active, #panel #panelActivities.panel-button:overview, #panel #panelActivities.panel-button:focus, #panel #panelActivities.panel-button:checked {
  background-color: transparent;
  box-shadow: inset 0 0 0 100px #fe4eda;
  border: 3px solid transparent !important;
  border-color: transparent;
}
#panel #panelActivities.panel-button:active > *, #panel #panelActivities.panel-button:overview > *, #panel #panelActivities.panel-button:focus > *, #panel #panelActivities.panel-button:checked > * {
  background-image: url("common-assets/panel/activities-active.svg");
}

/***************************
            DOCK
****************************/
/* A dock do Gnome (no Pop!_OS, especialmente com o COSMIC) não é controlada pelo tema GTK que 
fica em ~/.themes, mas sim por uma extensão do GNOME Shell (geralmente Dash to Dock ou uma modificação dela). 
Ou seja, a dock é um componente de extensão, e por isso seu estilo é definido em seu próprio stylesheet.css, 
que não tem relação com o tema GTK(~/.themes). */

/* Muda a cor do dock */
.dash-background {
background-color: #0fc0fc; 
} 

/* Linha que separa os itens na dock que tão fixados */
/* Nada funciona no separador, não sei porquê */
.dash-separator {
  width: 1px;
  margin: 0 4px;
  background-color: #fe4eda;
  box-shadow: 0 0 0 0.25px rgba(250, 245, 233, 0.38);
  margin-bottom: 12px; 
}

/* Quando passa o mouse num icone da dash e aparece o título do programa */
.dash-label {
  color: #fff; /* Cor dos textos */
  background-color: #fe4eda; /* Cor do fundo dos títulos */
  /* border-color: #cdd1f3; (cor da borda) */
  text-align: center;
  box-shadow: none;
  background-image: none;
}
/* Botão Show Applications */
.show-apps .show-apps-icon { 
  color: #fe4eda; /* Cor do icone */

  /* background-color: #fe4eda; muda o fundo */

  /* Muda o icone para uma imagem que quiser
  background-image: url("common-assets/startup@2.svg");
  background-size: contain;
  color: transparent;
  */
}

/* .app-well-app:hover (quando passa o mouse em cima, mas cobre mais que o icone) */
/* .overview-icon (cor de fundo dos icones da dock) */
.app-well-app:hover .overview-icon,
.show-apps:hover .overview-icon,
.search-provider-icon:hover,
.list-search-result:hover,
.grid-search-result:hover .overview-icon {
    background-gradient-direction: vertical;
    background-gradient-start: #F5C211;
    background-gradient-end: #F5C211;
    transition-duration: 100ms;
    border: 1px solid #F5C211; 
  }

/* Icones na dock (quando não passa o mouse em cima)*/
/*
.app-well-app .overview-icon, .show-apps .overview-icon {
  background-color: #0fc0fc;
}
*/

/* Bolinha que fica embaixo de um icone ativo na dock */
#dash .app-well-app-running-dot { 
    background-color: #fff; 
  
  /* Aumenta o tamanho da bolinha
    border-radius: 5px;
    width: 20px;
    height: 4px;
    box-shadow: inset -1px -1px 0 0 rgba(0,0,0,.5);
    margin-bottom: 2px; */
}

/****************************
CAIXA DE FUNDO DAS PESQUISAS
*****************************/
/* Caixa das pesquisas */
/* .modal-dialog {
	background-color: #0fc0fc;
} */


/*******************
       TEXTOS
*******************/
stage {
  color: #fff; /* Cor dos textos */
}

/* TEXTO DIGITADO NO SISTEMA */
StEntry {
  color: #fff; /* Cor do texto */
  background-color: #0fc0fc; /* Cor de fundo da barra de digitação */
  border: none; /* Retira a borda */
  box-shadow: none !important; /* Retira a sombra da borda */
  
  /* Quando seleciona o texto */
  selected-color: #fe4eda; /* Cor do texto quando selecionado */
  selection-background-color: #F5C211; /* Cor de fundo quando seleciona um texto */
}

/* Botão de reiniciar/desligar o pc */
.end-session-dialog .modal-dialog-linked-button:last-child {
  color: #fff; /* Cor do texto */
  background-color: #fe4eda; /* Cor de fundo */
}


/* PAINEL ONDE FICA O WIFI, VOLUME, REINCIAR/DESLIGAR, ETC */
.slider {
  -barlevel-height: 4px;
  -barlevel-background-color: rgba(65, 122, 195, 0.12); /* Cor de fundo quando a linha de volume diminui */
  -barlevel-border-color: rgba(65, 122, 195, 0.12); /* Borda da cor de fundo quando a linha de volume diminui */
  -barlevel-active-background-color: #fe4eda; /* Cor da linha de volume */
  -barlevel-active-border-color: #fe4eda; /* Borda da linha de volume */
  -barlevel-overdrive-color: #f46067;
  -barlevel-overdrive-border-color: #f46067;
  -barlevel-overdrive-separator-width: 0.2em;
  -barlevel-border-width: 1px;
  -slider-handle-radius: 9px;
  -slider-height: 4px;
  -slider-background-color: rgba(65, 122, 195, 0.12);
  -slider-border-color: rgba(65, 122, 195, 0.12);
  -slider-active-background-color: #87abd9;
  -slider-active-border-color: #87abd9;
  -slider-border-width: 1px;
  -slider-handle-radius: 7px;
  -slider-handle-border-color: #fe4eda; /* Borda da bolinha de volume */
  height: 18px;
  border: 0 solid transparent;
  border-right-width: 1px;
  border-left-width: 5px;
  color: #fe4eda; /* Cor da bolinha de volume */
}

/*********************
POP UP DE NOTIFICAÇÃO?
*********************/
.notification-banner {
  color: #fff; /* Cor do texto */
  background-color: #F5C211; /* Cor de fundo */
}



/*********** NOVO E NÃO TESTADO ********************/
/* Modo tela de bloqueio */
/*
Isso serve para mudar a imagem de fundo da tela de bloqueio, mas não funciona porque não é possível alterar editando o arquivo .css do Gnome Shell como em temas GTK padrão. A razão é qu eo Gnome Shell roda em um ambiente próprio baseado em Mutter + JavaScript (Gnome Shell Extensions) e ele não permtie carregar imagens externas no CSS da Shell diretamente, por segurança e arquitetura.
#lockDialogGroup {
  background: #2e3436 url(file:///home/user/.themes/RanmaTheme/gnome-shell/capa.png);
  background-repeat: repeat; 
} 
*/


/*******************************
          CALENDÁRIO
********************************/

/* Área onde fica o calendário e todo o resto*/
#calendarArea {
  color: #0fc0fc; /* Cor dos textos do "do not disturb" */
  /* background-color: #fe4eda; /* Cor de fundo da area inteira do calendário */
}

.calendar {
	background-color: #0fc0fc; /* Cor de fundo do calendário */
}

/* Configuração da label do mês */
.calendar-month-label {
    color: white; /* Cor do texto do mês */
  }
  
/* Página de botão do calendário */
.pager-button {
    color: #fff; /* Cor da seta para mudar o mẽs */
    background-color: rgba(255, 255, 255,0.5);
     }

    /* Cor de fundo da seta para mudar o mês */
    .pager-button:hover, .pager-button:focus {
        background-color:  rgba(255, 255, 255,0.7); 
      }
    .pager-button:active {
        background-color:  rgba(255, 255, 255,1.0); 
      }
      
      
.calendar-day-base {
color: white;
}
    .calendar-day-base:hover, .calendar-day-base:focus {
        background-color: rgba(177, 177, 177,1); /* calender day hover color*/
      }
    
    .calendar-day-base:active {
        color: rgba(134, 134, 134,1); /*calender click color*/
        background-color:rgba(134, 134, 134,1); /*calender click color*/
        border-color: black; 
      }

    .calendar-day-base.calendar-day-heading {
        color: #fff; /* Cor dos dias da semana */
        margin-top: 0em;
        font-size: 70%; 
        font-weight: bold;
      }

/* Cor dos dias dos fériados */
.calendar-nonwork-day {
    background-color: rgba(244,66,66,0);
    color: rgb(255, 57, 57); /* Cor dos dias dos fériados */
}

/* Cor do texto do dia atual */
.calendar-today {
    background-image: none;
    /*text-shadow:1px;
    /*font-weight: bold;
    /*border-radius: 20px;*/
    background-color: #fe4eda; /* Cor do texto do dia atual */
     /* border: 3px solid rgba(220,150,120,0.1);*/ }   	/*today overl shape selection border*/

/* Dia com evento */
.calendar-day-with-events {
    color: white;
    font-weight: bold; 
}

/* Calendário outro dia do mês */
.calendar-other-month-day {
    color: gray;
    opacity: 0.5; 
}

/* Dia da semana */
.datemenu-today-button .day-label {
    color: #0fc0fc; /* Cor do texto */
  }

/* Data completa embaixo do dia da semana */
.datemenu-today-button .date-label {
    color: #fe4eda; /* Cor do texto */
}

/* Quando passa o mouse em cima do weather (previsão do tempo)*/
.weather-button:hover{
  color: #fe4eda;
  background-color: transparent;
}
/* Lista de mensagens */ /* Calendário de notificação da barra superior de mensagens */
/* .message-list { } */

/* Botão Limpar Tudo do calendário */
.message-list-clear-button.button {
  color: #fff; /* Cor do texto do botão */
  background-color: #fe4eda; /* Cor do botão */
}

/* Notificações que aparecem onde fica o calendário */
.message {
  color: #fff; /* Cor do texto dos títulos */
  background-color: #F5C211; /* Cor de fundo da mensagem */
}
    .message:hover, .message:focus {
        background-color: rgba(255, 255, 255, 0.404); /* Cor de fundo quando passa o mouse em cima */
        transition-duration: 200ms; 
      }


/* Cor dos botões (pausar, avançar, retroceder) do player de media no calendário */
.message-media-control, .message-media-control:focus, .message-media-control:hover, .message-media-control:active {
  color: #fe4eda;
}

/* Popovers/Menus */
/* Faz mudar o quadrado de quando se clica em algo na barra do topo */
/* .popup-menu .popup-menu-content {
  background-color: #fe4eda; /* Cor de fundo do pop menu onde fica o calendário, notificações e etc } */




/*****************************
NOTIFICAÇÕES E MESSAGE TRAY
******************************/
.url-highlighter {
    link-color:#367bf0; /* Cor dos links */
  }

.notification-banner {
    color: #fff; /* Cor do texto do título */
    background-color: #0fc0fc; /* Cor de fundo do pop up de notificações */
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.5); }
    .notification-banner:hover, .notification-banner:focus {
        margin: 5px;
        background-color: #F5C211; /* Cor quando passa o mouse em cima do pop up */
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5); 
      }
    .notification-banner .notification-icon {
        padding: 5px; 
      }
    .notification-banner .notification-content {
        padding: 5px;
        spacing: 5px; 
      }
    .notification-banner .secondary-icon {
        icon-size: 1.09em; 
      }
    .notification-banner .notification-actions {
        background-color: #ffffff;
        border-radius: 2px;
        padding-top: 0px;
        spacing: 1px; 
      }
    .notification-banner .notification-button {
        border: none;
        padding: 4px 4px 5px;
        color: #777;
        font-weight: bold;
        background-color: #fff;
        border-color: rgba(0,0,0,0.0);
        box-shadow: none;
        border-radius: 0px;
        text-shadow:none;
      }
        .notification-banner .notification-button:first-child {
            border-radius: 0 0 0 2px; 
          }
        .notification-banner .notification-button:not(:first-child):not(:last-child) {
            border-radius: 0px; 
          }
        .notification-banner .notification-button:last-child {
            border-radius: 0 0 2px 0; 
          }
        .notification-banner .notification-button:hover, .notification-banner .notification-buttonfocus, .notification-banner .notification-button:focus {
            background-color: #f7f7f7;
            color: #738c99; 
          }
.notification StEntry,
.notification-banner StEntry {
    border-radius: 0 0 2px 2px;
    margin: 0px;
    padding: 10px 6px;
    border: none;
    color: #555;
    background-color: #f1f1f1;
    background-gradient-direction: none;
    box-shadow: none;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.2);
    selection-background-color:#367bf0;
    selected-color: #ffffff;
  }
    
    .notification StEntry:focus,
    .notification-banner StEntry:focus {
        background-color: #f7f7f7;
        color: #555; 
      }
    .notification StEntry:insensitive,
    .notification-banner StEntry:insensitive    {
        color: #777;
        border-color: #323636;
        box-shadow: none; 
      }
    .notification StEntry StIcon.capslock-warning,
    .notification-banner StEntry StIcon.capslock-warning    {
        icon-size: 16px;
        warning-color: #f67d42;
        padding: 0 4px; 
      }

.notification {
    font-size: 11pt;
    width: 34em;
    margin: 5px;
    border-radius: 2px;
    color: #555;
    background-color: #fff;
    border: none;
    border-width: 0px;
    spacing-rows: 4px;
    padding: 8px;
    spacing-columns: 10px; 
  }

.notification-unexpanded {
    min-height: 48px;
    height: 48px; 
  }

.notification-with-image {
    min-height: 159px; 
  }

.notification-body {
    spacing: 5px; 
  }

.notification-actions {
    paddinf-top: 18px;
    spacing: 6px; 
  }

/***************************
TELA DE SCREENSHOT (PRINT)
***************************/

/* Popup da tela de screenshot */
.screenshot-ui-panel, .workspace-switcher-container, .switcher-list, .resize-popup, .osd-window {
  color: rgba(250, 244, 237, 0.7);
 background-color: #663399; /* Cor de fundo do quadrado de tirar o print */
}

/* Botão de fechar da tela de screenshot */
.window-close, .screenshot-ui-close-button {
  background-color: #e62020;
  color: #faf4ed;
}

/* Quando passa o mouse em cima do botão de fechar */
.window-close:hover, .screenshot-ui-close-button:hover {
  color: #faf4ed;
  /* ackground-color: #383451; */
}

/* Quando clica no botão de fechar */
.window-close:active, .screenshot-ui-close-button:active {
  color: #faf4ed;
  /* background-color: #1e1c2b; */
}


/* Borda do botão de fechar */
/* .screenshot-ui-close-button {
  box-shadow: 0 2px 4px 0 rgb(255, 0, 0);
} */

/* Borda do botão de circulo pra tirar a screenshot/print */
.screenshot-ui-capture-button {
  border: 4px #fff;
}

/* Botão para tirar screenshot/print */
.screenshot-ui-capture-button .screenshot-ui-capture-button-circle {
  background-color: #fff;
}

/* Quando passa o mouse em cima do botão de tirar screenshot/print */
/* .screenshot-ui-capture-button:hover .screenshot-ui-capture-button-circle, .screenshot-ui-capture-button:focus .screenshot-ui-capture-button-circle {
  background-color: #ff0000;
} */

/* Quando aperta o botão de tirar uma screenshot/print */
.screenshot-ui-capture-button:active .screenshot-ui-capture-button-circle {
  background-color: #2600ff;
}

/* Botão de gravar */
/* .screenshot-ui-capture-button:cast .screenshot-ui-capture-button-circle {
  background-color: #32cd32;
} */

/* Quando passa o mouse no botão de gravar */
.screenshot-ui-capture-button:cast:hover .screenshot-ui-capture-button-circle, .screenshot-ui-capture-button:cast:focus .screenshot-ui-capture-button-circle {
  background-color: #ff0000;
}

.screenshot-ui-capture-button:cast:active .screenshot-ui-capture-button-circle {
  background-color: #e7507a;
}

/* Cor de fundo dos icones do screenshot e screencast (icone de tirar screenshot/print e gravar)*/
.screenshot-ui-shot-cast-container {
  background-color: #e62020;
}

/* Cor de fundo do icone de tirar screenshot/print e gravar em segundo plano */
.screenshot-ui-shot-cast-button:hover, .screenshot-ui-shot-cast-button:focus {
  background-color: #663399;
}

.screenshot-ui-shot-cast-button:active {
  background-color: rgba(25, 23, 36, 0.26);
}

/* Cor de fundo do icone de tirar screenshot/print e gravar quando ta selecionado */
.screenshot-ui-shot-cast-button:checked {
  background-color: #faf4ed;
  color: #191724;
}

/* Bolinha do quadrado que seleciona pra tirar screenshot/print de uma área */
.screenshot-ui-area-selector-handle {
  background-color: #e62020;
}
